* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

header {
  margin-bottom: -1vh;
}

header img {
  width: 100%;
}

p {
  align-items: center;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
}

nav {
  background-color: #795548;
  box-shadow: 1px 1px 5px #777777;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 1vw 5vh 1vw 5vh;
}

nav a {
  font-weight: 900;
}

article h1 {
  font-size: 3rem;
  margin: 25px 0;
}

article h2 {
  font-size: 2rem;
}

article h3 {
  font-size: 1.5rem;
}

article {
  border-bottom: solid 1px #C0BEBE;
  padding-bottom: 30px; 
}

.blocos {
  margin: 20px 0;
  margin-left: 2vw;
}

.blocos h1{
  text-align: center;
  margin: 20px 0;
}

.blocos h2{
  margin: 20px 0;
}

.blocos p {
  text-align: justify;
}

.modalidades h2 + p {
  margin-bottom: 30px;
}

.activities {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.activities .modalidades {
  margin-bottom: 5vh;
}

.activities ul {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  list-style: none;
  padding: 10px;
}

.activities ul li {
  text-align: center;
  width: 250px;
}

.activities ul li img{
  height: 250px;
}

.activities h3 {

}

.text-with-media {
  display: flex;
}

.media { 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social {
  display: flex;
  align-items: center
}

.contato {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.contato img {
  margin: 0 15px;
}

footer {
  text-align: center;
  margin-bottom: 1vh;
}

footer p {
  color: #777777;
}

footer a {
  color: #000;
}

footer a:hover {

}